# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
*.venv

# Streamlit
.streamlit/

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
